.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: all 0.4s;

  &--open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  // &__icon {
  //   transition: all 0.2s;
  //   &--close {
  //     width: 2.2rem;
  //     height: 2.2rem;
  //     fill: hsl(223, 64%, 98%);
  //   }
  //   &--next {
  //     stroke: #1d2026;
  //     width: 1.3rem;
  //     height: 1.8rem;
  //   }
  //   &--previous {
  //     stroke: #1d2026;
  //     width: 1.2rem;
  //     height: 1.8rem;
  //   }
  // }

  // &__icon-box {
  //   @extend %flex-center;
  //   width: 5.6rem;
  //   height: 5.6rem;
  //   border-radius: 50%;
  //   background-color: hsl(223, 64%, 98%);
  //   position: absolute;
  //   z-index: 10;
  //   top: 50%;
  //   cursor: pointer;

  //   &:hover {
  //     .modal__icon--next,
  //     .modal__icon--previous {
  //       stroke: $primary-color;
  //     }
  //     .modal__icon--close {
  //       fill: $primary-color;
  //     }
  //   }

  //   &--close {
  //     width: 3.6rem;
  //     height: 3.6rem;
  //     background-color: transparent;
  //     top: -4.2rem;
  //     right: -0.8rem;
  //   }

  //   &--next {
  //     right: 0;
  //     transform: translate(50%, -50%);
  //   }
  //   &--previous {
  //     left: 0;
  //     transform: translate(-50%, -50%);
  //   }
  // }
}
