.purchase {
  display: flex;
  gap: 1.8rem;
  @media screen and (max-width: 35em) {
    width: 100%;
    flex-direction: column;
  }

  &__select {
    display: flex;
    background-color: hsl(223, 64%, 98%);
    border-radius: 1rem;
    width: 155px;
    height: 55px;
    padding: 0 0.4rem 0 0.7rem;
    @media screen and (max-width: 35em) {
      width: 100%;
    }
  }

  &__select-btn {
    @extend %flex-center;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    width: 30px;
    &:hover {
      svg {
        fill: lighten($primary-color, 15%);
      }
    }
    @media screen and (max-width: 35em) {
      width: 15%;
    }
  }

  &__select-icon-minus,
  &__select-icon-plus {
    fill: $primary-color;
    transition: fill 0.3s;
  }
  &__select-icon-minus {
    width: 12px;
    height: 4px;
  }

  &__select-icon-plus {
    width: 12px;
    height: 12px;
  }

  &__quantity {
    @extend %flex-center;

    flex: 1 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__add-btn {
    @extend %flex-center;
    @extend %core-btn;

    width: 272px;
    height: 56px;
    gap: 1.3rem;
    box-shadow: 0rem 2rem 3rem rgba($primary-color, 0.2);
    &:active {
      box-shadow: 0rem 1rem 2rem rgba($primary-color, 0.2);
    }

    @media screen and (max-width: 35em) {
      width: 100%;
    }
  }
  &__cart-icon {
    fill: hsl(25, 100%, 94%);
    width: 22px;
    height: 20px;
    transform: scale(0.8);
  }
  &__add-text {
    color: hsl(25, 100%, 94%);
    font-size: 1.6rem;
    font-weight: 700;
  }
}
