* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  text-decoration: none;
}

ul li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #121417;
}

.heading {
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  letter-spacing: 0.4px;
  font-size: 2.8rem;
}

.paragraph {
  color: #7c8798;
  line-height: 1.6;
}

.rate {
  min-height: 41.5rem;
  max-width: 41rem;
  border-radius: 3.1rem;
  background: radial-gradient(circle at top, #252d37, #171e28);
  position: relative;
}
.rate__poll {
  padding: 3.3rem;
  -webkit-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
}
.rate__poll--hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
.rate__thanks {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 4.4rem 4rem 3rem 3.2rem;
  -webkit-transition: all 0.3s ease 0.4s;
  transition: all 0.3s ease 0.4s;
}
.rate__thanks--hidden {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}

.poll__img-star-box {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  background-color: #252d37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.2rem;
}
.poll__heading {
  margin-bottom: 1rem;
}
.poll__paragraph {
  margin-bottom: 2.5rem;
}
.poll__form {
  padding: 3px 3px 0px 0px;
}
.poll__form-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4px;
  margin-bottom: 2.8rem;
}
.poll__form-input {
  display: none;
}
.poll__form-input:checked + .poll__form-select-btn {
  background-color: #7c8798;
  color: hsl(0deg, 0%, 100%);
}
.poll__form-select-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
  width: 5.1rem;
  height: 5.1rem;
  border-radius: 50%;
  background-color: #252d37;
  color: #7c8798;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.poll__form-select-btn:hover, .poll__form-select-btn:active {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}
.poll__form-submit-btn {
  display: block;
  width: 100%;
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
  text-transform: uppercase;
  padding: 1.4rem 1.3rem 1.1rem;
  border-radius: 10rem;
  letter-spacing: 1.6px;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.poll__form-submit-btn:hover, .poll__form-submit-btn:active {
  color: hsl(25deg, 97%, 53%);
  background-color: hsl(0deg, 0%, 100%);
}

.thanks__img-box {
  margin-bottom: 2.7rem;
}
.thanks__heading {
  padding-left: 0.8rem;
  margin-bottom: 1rem;
}
.thanks__selected-box {
  padding-left: 1rem;
  margin-bottom: 3.5rem;
}
.thanks__selected {
  display: inline-block;
  background-color: #252d37;
  word-spacing: 0.3px;
  padding: 0.7rem 1.8rem 0.4rem;
  border-radius: 20rem;
  color: hsl(25deg, 97%, 53%);
}/*# sourceMappingURL=main.css.map */