.header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem 0.9rem 3.1rem 0;
  border-bottom: 1px solid rgba(#000, 0.1);
  margin-bottom: 9rem;

  @media screen and (max-width: 52.75em) {
    position: static;
    justify-content: flex-end;

    margin-bottom: 4rem;
    padding: 2rem 0.9rem 2.1rem 0;
  }

  &__logo {
    margin-right: 2.6rem;
  }

  &__nav {
    margin-right: auto;

    //test
    display: none;
  }

  &__logo-img {
    width: 13.8rem;
    height: 2rem;
  }

  &__cart {
    margin-right: 4.2rem;
  }
}
