* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ecf2f8;
}

.container {
  padding: 0 1rem;
}

.article {
  max-width: 73rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.article__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 28.5rem;
          flex: 1 0 28.5rem;
  background-image: url(../images/drawers.jpg);
  background-size: cover;
  border-radius: 0.8rem 0 0 0.8rem;
}

.article__main {
  padding: 3.2rem 4.6rem 3.2rem 4rem;
  background-color: #fff;
  border-radius: 0 0.8rem 0.8rem 0;
  overflow: hidden;
}

.article__heading {
  color: #48556a;
  font-weight: 700;
  line-height: 1.45;
  letter-spacing: 0.5px;
  margin-bottom: 1.3rem;
}

.article__paragraph {
  color: #6d7f97;
  line-height: 1.5;
  word-spacing: 0.2px;
  letter-spacing: 0.1px;
  margin-bottom: 2rem;
}

.article__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
  gap: 1.5rem;
}

.article__author .author__img {
  border-radius: 50%;
  height: 100%;
}

.article__author .author__name {
  display: block;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #48556a;
  margin-bottom: 0.2rem;
}

.article__author .author__date {
  display: block;
  color: #9eafc2;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.article__author-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__author-section.show .article__share-links {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(57%, -15%);
          transform: translate(57%, -15%);
}

.article__share {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf2f8;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.article__share:hover {
  background-color: #9eafc2;
}

.article__share:hover .share-img {
  fill: #ecf2f8;
}

.article__share .share-img {
  width: 1.5rem;
  height: 1.3rem;
  fill: #6e8098;
}

.article__share-links {
  background-color: #48556a;
  padding: 1.5rem 3.6rem;
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(57%, 10%);
          transform: translate(57%, 10%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.article__share-links::before {
  content: "";
  width: 3rem;
  height: 1.5rem;
  background-color: inherit;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  position: absolute;
  right: 50%;
  bottom: 0;
  -webkit-transform: translate(65%, 80%);
          transform: translate(65%, 80%);
}

.article__share-links .share-text {
  font-size: 1.3rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  color: #ecf2f8;
  font-weight: 300;
}

@media (max-width: 47em) {
  body {
    height: 100%;
  }
  .container {
    padding: 8rem 2rem;
  }
  .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 37.5rem;
  }
  .article__heading {
    font-size: 1.7rem;
  }
  .article__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25.5rem;
            flex: 1 0 25.5rem;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .article__main {
    border-radius: 0 0 0.8rem 0.8rem;
  }
  .article__author-section {
    margin-bottom: -1rem;
  }
  .article__author-section.show .article__share-links {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .article__author-section.show .article__share {
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  .article__share {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 4;
  }
  .article__share-links {
    padding: 2rem 3.6rem;
    top: initial;
    bottom: 0;
    right: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .article__share-links::before {
    content: "";
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */